<?xml version="1.0"?>
<model>
  <name>Iris IR</name>
  <version>1.0</version>
  <sdf version="1.6">iris_zsj_ir.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    IRIS UAV with infrared communication capabilities
  </description>
</model>