<?xml version="1.0"?>
<launch>
    <arg name="px4_home" default="/home/zsj/PX4_Firmware"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>

    <!-- 设置环境变量 -->
    <env name="GAZEBO_PLUGIN_PATH" value="$(arg px4_home)/build/px4_sitl_default/build_gazebo-classic"/>
    <env name="GAZEBO_PLUGIN_PATH" value="$(find iris_ir_sitl)/../../devel/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>
    <env name="GAZEBO_MODEL_PATH" value="$(arg px4_home)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/models"/>

    <!-- 启动Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg px4_home)/Tools/simulation/gazebo-classic/sitl_gazebo-classic/worlds/empty.world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!-- 等待Gazebo完全启动 -->
    <arg name="node_start_delay" default="10.0" />

    <!-- 第1架无人机 -->
    <group ns="iris_zsj_ir0">
        <arg name="ID" value="0"/>
        <arg name="fcu_url" default="udp://:10540@localhost:14580"/>
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="1"/>
            <arg name="z" value="0.5"/>
            <arg name="vehicle" value="iris_zsj_ir"/>  <!-- 通过写自己的jinja来实现 -->
            <arg name="mavlink_udp_port" value="14580"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>

        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <!-- 第2架无人机 -->
    <group ns="iris_zsj_ir1">
        <arg name="ID" value="1"/>
        <arg name="fcu_url" default="udp://:10541@localhost:14581"/>

        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="4"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.5"/>
            <arg name="vehicle" value="iris_zsj_ir"/>
            <arg name="mavlink_udp_port" value="14581"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>

        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

    <!-- 第11架无人机 -->
    <group ns="iris_zsj_ir2">
        <arg name="ID" value="2"/>
        <arg name="fcu_url" default="udp://:10552@localhost:14592"/>

        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0.5"/>
            <arg name="vehicle" value="iris_zsj_ir"/>
            <arg name="mavlink_udp_port" value="14592"/>
            <arg name="mavlink_tcp_port" value="4562"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>

        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

</launch>
